
body{
    background-color: rgb(22, 129, 230);
}
h1{
    color: white;
    text-align: center;

}
main{
    max-width: 500px;
    min-width: 10%;
    margin: auto;
}
main > section{
    background-color: white;
    border-radius: 15px;
    
    margin: auto;
    padding: 10px 30px 100px 30px;
    
    font-weight: bold;
    
}
#res{
    width: 150px;
}

footer{
    color: aliceblue;
    text-align: center;
}
p{
    font-size: large;
}